@import "set";
@import "_fonts";
@import "_vars";
@import "_mixins";

[class*="__container"] {
    max-width: 163.4rem;
    margin: 0px auto;
    padding: 0rem 1.5rem;

    // @media (max-width: 178.8rem) {
    //     max-width: 160.4rem;
    // }
    // @media (max-width: 140rem) {
    //     max-width: 132rem;
    // }
    // @media (max-width: 120rem) {
    //     max-width: 114rem;
    // }
    // @media (max-width: 99.2rem) {
    //     max-width: 96rem;
    // }
    // @media (max-width: 76.8em) {
    //     // max-width: 72rem;
    //     max-width: 100%;
    // }
    // @media (max-width: 37.6rem) {
    //     max-width: 37.3rem;
    // }
}

@keyframes fade {
    // 0% { opacity: 0.8; }
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main {
    overflow: hidden;
}

.scroll-lock{
    overflow: hidden;
}

.logo {
    max-width: 281px;
    max-height: 237px;

    img {
        width: 100%;
        height: 100%;
    }
}

.title {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: $title-font-size;
    line-height: 113%;
    color: $title-color;
    @media (max-width: 768px) {
        font-size: $title-font-size-mobile;
    }
}

.subtitle {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: $subtitle-font-size;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: $orange-color;
}

.description {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: $description-font-size;
    line-height: 3rem;
    color: $base-color;
    @media (max-width: 768px) {
        font-size: $description-font-size-moblie;
    }
}

@import "block/header";
@import "block/about";
@import "block/facts";
@import "block/mission";
@import "block/directions";
@import "block/news";
@import "block/projects";
@import "block/projmap";
@import "block/reviews";
@import "block/contacts";