.directions {
    &__container {
        padding-top: 204px;
        @media (max-width: 768px) {
            padding-top: 100px;
        }
    }

    &__title {

    }

    &__directions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }

    &__direction {

    }

    &__counter {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            padding-top: 20px;
            // width: 440px;
            max-width: 440px;
            width: 100%;
            margin: 0px auto;
        }
        @media (max-width: 376px) {
            // width: 223px;
            // margin: 0px auto;
        }
    }

    &__counter-min {
        font-family: 'Euclid Circular A';
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-align: center;
        color: $base-color;
    }

    &__counter-max {
        font-family: 'Euclid Circular A';
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-align: center;
        color: $base-color;
    }

    &__counter-bar {
        margin: 0px 18.75px 0px 18px;
        width: 100%;
        height: 6px;
        background: #D4DBEE;
        display: flex;
        justify-content: space-between;
    }

    &__counter-progress {
        content: '';
        width: 100%;
        height: 6px;
        background: #D4DBEE;

        &_active{
            background: #003D79;
        }
    }
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 434px;
    min-height: 571px;
    max-width: 550px;
    padding: 50px 57px 0px 57px;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        background: #EDF0F5;
        // padding: 47px 51px 48px 51px;
        @media (max-width: 768px) {
            // padding: 50px 57px 50px 57px;
        }

        .direction__image {
            transform: scale(1.1, 1.1);
            @media (max-width: 768px) {
                transform: scale(1, 1);
            }
        }
    }
    @media (max-width: 768px) {
        display: none;
        max-width: 100%;
        min-height: 650px;
        width: 100vw;
        background: #EDF0F5;
        padding: 50px 57px 50px 57px;
        animation-name: fade;
        animation-duration: 1.5s;
        @keyframes fade {
            from {
                opacity: 0.4
            }
            to {
                opacity: 1
            }
        }
        &_active {
            display: flex;
        }
    }
    @media (max-width: 376px) {
        min-height: 550px;
    }

    &_center {
        
    }

    &__image {
        // max-width: 257px;
        max-width: 258px;
        max-height: 287px;
        transition: 0.4s;
        img {
            // width: 257px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-family: 'Euclid Circular A';
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3.2rem;
        color: #292A3F;
        text-align: center;
        margin-top: 50px;
    }

    &__description {
        font-family: 'Euclid Circular A';
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: 3rem;
        text-align: center;
        color: $base-color;
        text-align: center;
        margin-top: 19px;
        max-width: 410px;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}