.header {
    position: absolute;
    z-index: 99;
    margin: 0rem auto;
    left: 0;
    right: 0;
    @media (max-width: 48rem) {
        background-color: #fff;
    }

    &__container {
        max-width: 177.5rem;
        padding-top: 7.4rem;
        display: grid;
        grid-template-columns: auto auto;
        @media (max-width: 48rem) {
            // max-width: 72rem;
            max-width: 100%;
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__burger {
        display: none;
        @media (max-width: 48rem) {
            display: block;
            width: 9rem;
        }
    }

    &__phone {
        display: none;
        @media (max-width: 48rem) {
            display: block;
            max-width: 9rem;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__logo {
        padding: 0.6rem 0rem 0rem 0rem;
        max-width: 28.1rem;
        max-height: 22.9rem;
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: 48rem) {
            max-width: 9rem;
            max-height: 7.3rem;
            padding: 0rem 0rem 0rem 0rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__menu {
    }
}

.menu {
    @media (max-width: 48rem) {
        position: absolute;
        top: 11.6rem;
        left: -100%;
        background-color: #fff;
        // width: 100vw;
        width: 100%;
        z-index: 9999999;
        transition: all 0.4s ease;
        &.open {
            left: 0;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: start;
        @media (max-width: 48rem) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 5rem;
            padding: 5rem 2.5rem;
        }
    }

    &__item {
        margin: 0rem 2.5rem 0rem 0rem;
        &::after {
            display: inline-block;
            content: '';
            width: 0.2rem;
            height: 1.4rem;
            background-color: $menu-sep-color;
            margin-left: 2.6rem;
            @media (max-width: 48rem) {
                display: none;
            }
        }
        &:last-child {
            margin: 0rem 6.2rem 0rem 0rem;
            padding: 0rem 0rem 0rem 0rem;
            border-right: none;
            &::after {
                display: none;
            }
        }
    }

    &__link {
        font-family: 'Euclid Circular A';
        font-style: normal;
        font-weight: 600;
        font-size: $menu-font-size;
        line-height: 2.9rem;
        color: $base-color;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            color: $slider-btn-color;
        }
    }
}