section.contacts
    .contacts__container
        .contacts__body
            p.contacts__title.title
                | Наши контакты
            .contacts__infos
                .contacts__info
                    .contacts__icon
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0C5.87904 0.00245748 3.84566 0.831051 2.34592 2.30402C0.846168 3.77699 0.00251067 5.77405 8.51118e-06 7.85714C-0.00253177 9.55945 0.56363 11.2156 1.61164 12.5714C1.61164 12.5714 1.82982 12.8536 1.86546 12.8943L8 20L14.1374 12.8907C14.1694 12.8529 14.3884 12.5714 14.3884 12.5714L14.3891 12.5693C15.4366 11.214 16.0025 9.55866 16 7.85714C15.9975 5.77405 15.1538 3.77699 13.6541 2.30402C12.1543 0.831051 10.121 0.00245748 8 0V0ZM8 10.7143C7.42464 10.7143 6.86219 10.5467 6.3838 10.2328C5.9054 9.91882 5.53254 9.4726 5.31235 8.95052C5.09217 8.42845 5.03456 7.85397 5.14681 7.29974C5.25906 6.74551 5.53612 6.23642 5.94296 5.83684C6.34981 5.43726 6.86816 5.16514 7.43247 5.0549C7.99677 4.94466 8.58169 5.00124 9.11326 5.21749C9.64483 5.43374 10.0992 5.79995 10.4188 6.2698C10.7385 6.73965 10.9091 7.29205 10.9091 7.85714C10.9081 8.61461 10.6013 9.34079 10.056 9.8764C9.51062 10.412 8.77124 10.7133 8 10.7143V10.7143Z" fill="#E57214"/>
                        </svg>
                    .contacts__text
                        | Москва, Каширское шоссе, д. 3, корп. 2, стр. 4
                .contacts__info
                    .contacts__icon
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.4873 13.9547L13.4223 10.2587C13.2301 10.084 12.9776 9.9909 12.7181 9.99892C12.4585 10.0069 12.2123 10.1155 12.0313 10.3017L9.63828 12.7627C9.06228 12.6527 7.90428 12.2917 6.71228 11.1027C5.52028 9.90969 5.15928 8.74869 5.05228 8.17669L7.51128 5.78269C7.69769 5.60182 7.80642 5.35551 7.81444 5.0959C7.82247 4.83628 7.72917 4.58373 7.55428 4.39169L3.85928 0.327692C3.68432 0.135049 3.44116 0.0181963 3.18143 0.00195179C2.92171 -0.0142928 2.66588 0.0713504 2.46828 0.240692L0.298282 2.10169C0.125393 2.27521 0.0222015 2.50614 0.00828196 2.75069C-0.00671804 3.00069 -0.292718 8.92269 4.29928 13.5167C8.30528 17.5217 13.3233 17.8147 14.7053 17.8147C14.9073 17.8147 15.0313 17.8087 15.0643 17.8067C15.3088 17.793 15.5396 17.6894 15.7123 17.5157L17.5723 15.3447C17.7423 15.1477 17.8286 14.8921 17.8127 14.6324C17.7968 14.3727 17.68 14.1295 17.4873 13.9547V13.9547Z" fill="#E57214"/>
                        </svg>
                    .contacts__text
                        | +7 (495) 984-5435
                .contacts__info
                    .contacts__icon
                        <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.98942 0H16.0106C17.3333 0 18 0.639167 18 1.93917V11.0608C18 12.35 17.3333 13 16.0106 13H1.98942C0.666667 13 0 12.35 0 11.0608V1.93917C0 0.639167 0.666667 0 1.98942 0ZM8.99471 9.31667L16.127 3.32583C16.381 3.10917 16.582 2.61083 16.2646 2.16667C15.9577 1.7225 15.3968 1.71167 15.0265 1.9825L8.99471 6.16417L2.97355 1.9825C2.60317 1.71167 2.04233 1.7225 1.73545 2.16667C1.41799 2.61083 1.61905 3.10917 1.87302 3.32583L8.99471 9.31667Z" fill="#E57214"/>
                        </svg>
                    .contacts__text
                        | info@transproekt.ru

            .contacts__socials
                a(href="#").contacts__social
                    <svg width="47" height="39" viewBox="0 0 47 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.358 0.518567L2.72677 16.1867C-0.0461493 17.3004 -0.0301073 18.8473 2.21802 19.5371L12.6497 22.7913L36.7855 7.56315C37.9268 6.86877 38.9695 7.24232 38.1124 8.00315L18.5576 25.6513H18.553L18.5576 25.6536L17.838 36.4061C18.8922 36.4061 19.3574 35.9225 19.9486 35.3519L25.0155 30.4248L35.5549 38.2096C37.4982 39.2798 38.8939 38.7298 39.3774 36.4106L46.2959 3.80482C47.0041 0.965442 45.212 -0.320183 43.358 0.518567Z" fill="#A6A6A6"/>
                    </svg>
                a(href="#").contacts__social
                    <svg width="54" height="33" viewBox="0 0 54 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M52.7625 2.63173C53.136 1.38048 52.7625 0.459229 50.9738 0.459229H45.0675C43.5645 0.459229 42.8715 1.25444 42.4958 2.13215C42.4958 2.13215 39.492 9.45631 35.2373 14.2138C33.8603 15.5934 33.2348 16.0311 32.4833 16.0311C32.1075 16.0311 31.5428 15.5934 31.5428 14.3399V2.63173C31.5428 1.1284 31.1288 0.459229 29.8778 0.459229H20.5898C19.6515 0.459229 19.0868 1.1559 19.0868 1.81819C19.0868 3.24131 21.2153 3.57131 21.4335 7.57715V16.2809C21.4335 18.1899 21.0893 18.5359 20.3378 18.5359C18.3353 18.5359 13.464 11.1774 10.5728 2.75777C10.0125 1.11923 9.4455 0.459229 7.93575 0.459229H2.025C0.3375 0.459229 0 1.25444 0 2.13215C0 3.69506 2.0025 11.4592 9.32625 21.7282C14.2088 28.7407 21.0825 32.5426 27.3443 32.5426C31.0995 32.5426 31.563 31.6992 31.563 30.244V24.9434C31.563 23.2544 31.9185 22.9176 33.1088 22.9176C33.9863 22.9176 35.487 23.3576 38.9925 26.7378C42.9975 30.7459 43.6568 32.5426 45.9113 32.5426H51.8175C53.505 32.5426 54.351 31.6992 53.865 30.0309C53.3295 28.3717 51.417 25.9632 48.8813 23.1055C47.5043 21.4784 45.4388 19.7253 44.811 18.8476C43.9358 17.7224 44.1855 17.2205 44.811 16.219C44.811 16.219 52.011 6.0761 52.7603 2.63173H52.7625Z" fill="#E57214"/>
                    </svg>
                a(href="#").contacts__social
                    <svg width="53" height="37" viewBox="0 0 53 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.7431 6.29493C51.4438 5.22757 50.861 4.26125 50.0565 3.49867C49.2293 2.71265 48.2154 2.15039 47.1105 1.86496C42.9756 0.775078 26.4094 0.775079 26.4094 0.775079C19.5032 0.696503 12.5987 1.0421 5.73478 1.80991C4.62991 2.11643 3.61791 2.69125 2.78881 3.48326C1.97415 4.26709 1.38407 5.23367 1.07582 6.29272C0.335353 10.2818 -0.0244194 14.3322 0.0013589 18.3893C-0.0250624 22.4427 0.333827 26.4918 1.07582 30.4858C1.37747 31.5405 1.96534 32.5026 2.7822 33.2799C3.59906 34.0571 4.61628 34.6185 5.73478 34.9158C9.92476 36.0035 26.4094 36.0035 26.4094 36.0035C33.3245 36.0821 40.2378 35.7366 47.1105 34.9686C48.2154 34.6832 49.2293 34.1209 50.0565 33.3349C50.8711 32.5577 51.4502 31.5911 51.7409 30.5387C52.5007 26.5511 52.8701 22.4991 52.8439 18.4399C52.9011 14.3636 52.5321 10.2924 51.7431 6.29272V6.29493ZM21.1428 25.9281V10.8526L34.9259 18.3915L21.1428 25.9281Z" fill="#A6A6A6"/>
                    </svg>
        .contacts__images
            .contacts__image
                img(src="img/contacts-1.png", alt="Карта")
            .contacts__map
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4006a746485e182204b4b0da8a991806443c34216c6c1f21bdafa36a61f43e92&amp;source=constructor" width="100%" height="527" frameborder="0"></iframe>