section.mission
    .mission__container
        .mission__images
            .mission__image
                img(src="img/mission-1.png", alt="Изображение 1")
            .mission__image
                img(src="img/mission-2.png", alt="Изображение 2")
        p.mission__title.title
            | Социальная инфраструктура должна быть доступной!
        p.mission__subtitle.subtitle Наша Миссия
        .mission__descriptions
            p.mission__description.description
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям растущей рыночной экономики и создает
                | значительные риски.
                br
                br
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям.
            p.mission__description.description
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям растущей рыночной экономики и создает
                | значительные риски.
                br
                br
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям.
        .mission__more
            a.mission__btn(href="#")
            span Подробнее
        .mission__quality
            img(src="img/quality.png", alt="Гарантия качества")