section.news
    .news__container
        .news__header
            p.news__title.title
                | Новости и события
            a(href="#").news__all
                | Все новости
                <svg width="29" height="21" viewBox="0 0 29 21" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#333333" d="M18 20L27.5 10.5M27.5 10.5L18 1M27.5 10.5L0 10.5" stroke="white" stroke-width="2"/>
                </svg>
        .news__list
            .news__item.new
                .new__image
                    img(src="img/news-1.png", alt="Новость 1")
                .new__body
                    p.new__title
                        | Круглый стол «Новые инвестиции в новых реалиях: ГЧП vs КРСТ» пройдет 17
                        | мая 2022 г.
                    p.new__description
                        | В соответствии с планом работы Комитета Российского Союза Промышленников
                        | и Предпринимателей по продовольственной политике, 17 мая 2022 г... 
                    .new__bottom
                        p.new__date
                            | 08
                            span мая
                        a(href="#").new__link
            .news__item.new
                .new__image
                    img(src="img/news-2.png", alt="Новость 2")
                .new__body
                    p.new__title
                        | Круглый стол «Новые инвестиции в новых реалиях: ГЧП vs КРСТ» пройдет 17
                        | мая 2022 г.
                    p.new__description
                        | В соответствии с планом работы Комитета Российского Союза Промышленников
                        | и Предпринимателей по продовольственной политике, 17 мая 2022 г... 
                    .new__bottom
                        p.new__date
                            | 08
                            span мая
                        a(href="#").new__link
            .news__item.new
                .new__image
                    img(src="img/news-3.png", alt="Новость 3")
                .new__body
                    p.new__title
                        | Круглый стол «Новые инвестиции в новых реалиях: ГЧП vs КРСТ» пройдет 17
                        | мая 2022 г.
                    p.new__description
                        | В соответствии с планом работы Комитета Российского Союза Промышленников
                        | и Предпринимателей по продовольственной политике, 17 мая 2022 г... 
                    .new__bottom
                        p.new__date
                            | 08
                            span мая
                        a(href="#").new__link
            