section.review
    .review__container
        p.review__title.title
            | Отзывы о нас
        .review__slider.review-slider
            .review-slider__item.review-slider__item_active
                .review-slider__col
                    .review-slider__image
                        img(src="img/review-1.png", alt="Отзыв")
                .review-slider__col
                    p.review-slider__text
                        | За профессионализм, проявленный при подготовке документации в рамках
                        | исполнения государственного контракта, и сопровождение этапа
                        | подготовки запуска проекта «Строительство проспекта Карла Маркса на
                        | участке от проспекта Кирова до границы городского округа Самара с
                        | реконструкцией участка автомагистрали «Центральная» муниципального
                        | района Волжский и городского округа Самара».
                    p.review-slider__author
                        | МЭР СО
                .review-slider__col
                    p.review-slider__text
                        | Наградить Благодарственным письмом министерства экономического развития
                        | и инвестиций Самарской области коллектив акционерного общества
                        | «ТРАНСПРОЕКТ Групп» за профессионализм, проявленный при подготовке
                        | документации в рамках исполнения государственного контракта и
                        | сопровождения этапа подготовки запуска проекта.
            .review-slider__item
                .review-slider__col
                    .review-slider__image
                        img(src="img/review-1.png", alt="Отзыв")
                .review-slider__col
                    p.review-slider__text
                        | За профессионализм, проявленный при подготовке документации в рамках
                        | исполнения государственного контракта, и сопровождение этапа
                        | подготовки запуска проекта «Строительство проспекта Карла Маркса на
                        | участке от проспекта Кирова до границы городского округа Самара с
                        | реконструкцией участка автомагистрали «Центральная» муниципального
                        | района Волжский и городского округа Самара».
                    p.review-slider__author
                        | МЭР СО
                .review-slider__col
                    p.review-slider__text
                        | Наградить Благодарственным письмом министерства экономического развития
                        | и инвестиций Самарской области коллектив акционерного общества
                        | «ТРАНСПРОЕКТ Групп» за профессионализм, проявленный при подготовке
                        | документации в рамках исполнения государственного контракта и
                        | сопровождения этапа подготовки запуска проекта.


            .review-slider__bottom
                a(href="#").review-slider__all
                    | ВСЕ ОТЗЫВЫ
                .review-slider__control
                    .review-slider__counter
                        span.review-slider__counter-min 01.
                        .review-slider__counter-bar
                        span.review-slider__counter-max 05.
                    .review-slider__buttons
                        a.review-slider__btn-prev
                        a.review-slider__btn-next
