section.directions
    .directions__container
        p.directions__title.title
            | Наши направления
        .directions__directions
            .directions__direction.direction.direction_active
                .direction__image
                    img(src="img/invest.png", alt="Инвестиции")
                p.direction__title
                    | Наши инвестиции
                p.direction__description
                    | Подготовка и «запуск» проектов
                    | государственно-частного партнёрства
            .directions__direction.direction.direction_center
                .direction__image
                    img(src="img/control-projects.png", alt="Инвестиции")
                p.direction__title
                    | Управление проектами
                p.direction__description
                    | Подготовка и «запуск» проектов
                    | государственно-частного партнёрства
            .directions__direction.direction
                .direction__image
                    img(src="img/consalting.png", alt="Инвестиции")
                p.direction__title
                    | Инвестиционный консалтинг
                p.direction__description
                    | Подготовка и «запуск» проектов
                    | государственно-частного партнёрства
        .directions__counter
            span.directions__counter-min 01.
            .directions__counter-bar
            span.directions__counter-max 05.

