section.facts
    .facts__container
        .facts__fact
            .facts__title.title
                | Государственно-частное партнерство
            .facts__image
                img(src="img/fact-1.png", alt="Изображение 1")
            p.facts__description.description
                | ООО "ТРАНСПРОЕКТ" в 2009 году разработало
                | собственную методику подготовки сложноструктурируемых
                | проектов государственно-частного партнёрства, содержащих
                | "вложенные" проекты ГЧП, которую активно применяет и
                | совершенствует последние годы.
            a.facts__link(href="#") ГЧП
        .facts__fact
            .facts__title.title
                | Инфраструктурные инвестиции
            img(src="img/fact-2.png", alt="Изображение 2")
            p.facts__description.description
                | Имеея десятков крупнейших инфраструктурных проектов
                | с общим объемом инвестиций более 3,5 трлн рублей, мы
                | доказали на практике действенность и эффективность
                | применяемых моделей государственно-частного партнёрства.
            a.facts__link(href="#") инвестиции