header.header
    .header__container
        .header__logo.logo
            img(src="img/logo.png", alt="Лого")
        nav.header__menu.menu
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#") О компании
                li.menu__item
                    a.menu__link(href="#") Наши инвестиции
                li.menu__item
                    a.menu__link(href="#") Управление проектами
                li.menu__item
                    a.menu__link(href="#") Инвестиционный консалтинг
                li.menu__item
                    a.menu__link(href="#") Контакты