section.mission
    .mission__container
        .mission__images
            .mission__image
                img(src="img/mission-1.png", alt="Изображение 1")
            .mission__image
                img(src="img/mission-2.png", alt="Изображение 2")
        p.mission__title.title
            | Социальная инфраструктура должна быть доступной!
        p.mission__subtitle.subtitle Наша Миссия
        .mission__descriptions
            p.mission__description.description
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям растущей рыночной экономики и создает
                | значительные риски.
                br
                br
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям.
            p.mission__description.description
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям растущей рыночной экономики и создает
                | значительные риски.
                br
                br
                | Современное состояние производственной и непроизводственной инфраструктуры
                | России не соответствует требованиям.
        .mission__more
            a.mission__btn(href="#")
            span Подробнее
        .mission__quality
            //- <svg width="205" height="228" viewBox="0 0 205 228" fill="none" xmlns="http://www.w3.org/2000/svg">
            //-     <path d="M23.0529 129.579L35.015 125.08L35.7247 126.967L30.7208 128.849L31.2467 130.247L37.6634 132.123L38.4744 134.279L31.025 132.062L26.6327 139.098L25.7647 136.79L29.5113 130.9L28.9854 129.502L23.7626 131.466L23.0529 129.579Z" fill="#BFBFBF"/>
            //-     <path d="M46.1659 150.062L47.4237 151.496L41.0893 163.657L39.689 162.06L41.4112 158.755L38.1598 155.046L34.6695 156.335L33.2574 154.724L46.1659 150.062ZM42.2735 157.472L45.13 152.239L39.5205 154.332L42.2735 157.472Z" fill="#BFBFBF"/>
            //-     <path d="M58.3287 178.358L60.7772 173.809C60.5846 173.787 60.3359 173.756 60.0311 173.714C59.732 173.662 59.3911 173.574 59.0082 173.45C58.636 173.331 58.228 173.152 57.7842 172.914C56.5056 172.225 55.7082 171.428 55.3919 170.522C55.0756 169.616 55.253 168.539 55.9242 167.292L57.9034 163.615L59.6311 164.545L57.7542 168.032C57.356 168.772 57.248 169.416 57.4302 169.963C57.6123 170.511 58.1419 171.021 59.0189 171.493C59.431 171.715 59.874 171.892 60.3478 172.024C60.8322 172.162 61.2569 172.234 61.6218 172.24L64.386 167.105L66.1295 168.043L60.0722 179.296L58.3287 178.358Z" fill="#BFBFBF"/>
            //-     <path d="M86.4008 186.817L86.1345 188.579L77.4669 187.269L79.3769 174.633L87.8843 175.918L87.618 177.68L81.104 176.696L80.5605 180.291L86.2025 181.144L85.9523 182.799L80.3104 181.946L79.7266 185.808L86.4008 186.817Z" fill="#BFBFBF"/>
            //-     <path d="M99.7422 184.083C99.5916 183.317 99.5799 182.543 99.707 181.76C99.8318 180.965 100.094 180.216 100.494 179.514C100.903 178.797 101.45 178.188 102.134 177.686C102.816 177.173 103.634 176.823 104.587 176.635C105.718 176.413 106.746 176.479 107.672 176.835C108.596 177.179 109.337 177.712 109.895 178.434L108.545 179.782C108.21 179.322 107.831 178.981 107.408 178.758C106.997 178.533 106.568 178.404 106.121 178.369C105.686 178.333 105.268 178.354 104.868 178.433C104.208 178.562 103.658 178.811 103.217 179.179C102.773 179.536 102.424 179.965 102.168 180.468C101.924 180.969 101.767 181.507 101.697 182.084C101.639 182.658 101.663 183.215 101.77 183.757C101.888 184.358 102.102 184.921 102.414 185.446C102.723 185.96 103.097 186.401 103.536 186.767C103.984 187.119 104.48 187.37 105.023 187.52C105.566 187.67 106.132 187.687 106.721 187.571C107.121 187.492 107.525 187.339 107.933 187.112C108.341 186.885 108.699 186.588 109.006 186.222C109.322 185.842 109.538 185.384 109.652 184.847L111.479 185.46C111.343 186.135 111.041 186.745 110.573 187.29C110.117 187.832 109.57 188.282 108.931 188.64C108.304 188.996 107.661 189.239 107.001 189.368C106.118 189.542 105.276 189.518 104.474 189.297C103.67 189.064 102.943 188.693 102.292 188.185C101.64 187.666 101.091 187.052 100.646 186.345C100.199 185.626 99.8975 184.872 99.7422 184.083Z" fill="#BFBFBF"/>
            //-     <path d="M131.532 169.375L127.884 171.551L133.518 180.996L131.771 182.038L126.137 172.593L122.473 174.778L121.56 173.248L130.619 167.844L131.532 169.375Z" fill="#BFBFBF"/>
            //-     <path d="M153.43 160.884C153.958 161.319 154.297 161.833 154.447 162.423C154.605 163.005 154.595 163.611 154.416 164.242C154.238 164.873 153.919 165.466 153.461 166.021L149.576 170.727L139.721 162.59L143.915 157.51C144.297 157.047 144.75 156.753 145.275 156.626C145.799 156.482 146.327 156.483 146.861 156.628C147.393 156.756 147.867 156.992 148.284 157.335C148.765 157.733 149.115 158.232 149.335 158.833C149.553 159.418 149.576 160.021 149.405 160.642C150.038 160.215 150.71 160.023 151.422 160.066C152.132 160.092 152.801 160.365 153.43 160.884ZM151.821 162.24C151.543 162.01 151.244 161.864 150.923 161.801C150.6 161.721 150.285 161.726 149.978 161.815C149.669 161.887 149.404 162.057 149.183 162.326L146.501 165.574L149.513 168.06L152.115 164.909C152.344 164.632 152.481 164.333 152.528 164.013C152.572 163.677 152.533 163.356 152.41 163.053C152.286 162.732 152.089 162.461 151.821 162.24ZM142.351 162.147L145.252 164.542L147.612 161.683C147.826 161.424 147.957 161.143 148.005 160.84C148.044 160.529 148.006 160.226 147.892 159.93C147.77 159.626 147.57 159.36 147.292 159.131C147.005 158.894 146.709 158.743 146.405 158.679C146.091 158.606 145.794 158.618 145.513 158.713C145.231 158.791 144.986 158.955 144.78 159.205L142.351 162.147Z" fill="#BFBFBF"/>
            //-     <path d="M155.811 140.56L156.434 138.757L170.135 138.234L169.442 140.241L165.717 140.383L164.107 145.045L166.956 147.438L166.256 149.463L155.811 140.56ZM164.176 140.269L158.215 140.381L162.813 144.217L164.176 140.269Z" fill="#BFBFBF"/>
            //-     <path d="M34.0197 95.9291L22.3379 90.746L25.4259 83.7863L27.0547 84.509L24.7844 89.626L34.8373 94.0864L34.0197 95.9291Z" fill="#BFBFBF"/>
            //-     <path d="M34.3727 67.7779L35.6521 66.3623L48.4646 71.2457L47.0405 72.8215L43.5579 71.4937L40.2509 75.1528L41.9352 78.4703L40.4989 80.0595L34.3727 67.7779ZM42.184 70.7858L36.655 68.5546L39.3839 73.8839L42.184 70.7858Z" fill="#BFBFBF"/>
            //-     <path d="M56.3985 62.7991L50.3211 51.5567L55.0398 49.0059C55.5465 48.7319 56.068 48.5864 56.6044 48.5693C57.1408 48.5522 57.6615 48.6322 58.1665 48.8093C58.6715 48.9865 59.1254 49.2458 59.5283 49.5873C59.9312 49.9288 60.2553 50.3266 60.5007 50.7805C60.8374 51.4033 61.0173 52.0768 61.0404 52.8009C61.0684 53.5087 60.9179 54.1767 60.589 54.8046C60.2706 55.4269 59.7736 55.9207 59.098 56.2859L56.0577 57.9293L58.172 61.8405L56.3985 62.7991ZM55.2103 56.3617L58.1397 54.7782C58.4775 54.5956 58.7246 54.3461 58.8809 54.0296C59.0316 53.7027 59.0899 53.3437 59.0559 52.9529C59.0325 52.5563 58.9124 52.1574 58.6955 51.7563C58.473 51.3446 58.1917 51.0261 57.8516 50.8007C57.5115 50.5753 57.1585 50.4523 56.7928 50.4318C56.4319 50.395 56.0931 50.4622 55.7764 50.6334L52.942 52.1656L55.2103 56.3617Z" fill="#BFBFBF"/>
            //-     <path d="M77.7535 39.2505L79.6397 38.9634L86.4743 50.8503L84.3744 51.1699L82.5171 47.9386L77.6412 48.6808L76.8471 52.3157L74.7295 52.638L77.7535 39.2505ZM81.9008 46.5212L79.0298 41.2957L77.7723 47.1496L81.9008 46.5212Z" fill="#BFBFBF"/>
            //-     <path d="M110.887 38.8075L108.085 51.2766L106.101 50.8306L107.336 45.3337L101.049 43.9209L99.8135 49.4178L97.8466 48.9758L100.649 36.5067L102.615 36.9487L101.443 42.1647L107.731 43.5775L108.903 38.3616L110.887 38.8075Z" fill="#BFBFBF"/>
            //-     <path d="M137.155 51.4392L133.605 49.1062L127.565 58.2971L125.865 57.18L131.905 47.9891L128.34 45.6462L129.319 44.157L138.134 49.95L137.155 51.4392Z" fill="#BFBFBF"/>
            //-     <path d="M140.366 66.356L150.691 58.8253L151.879 60.4541L143.851 66.309L155.899 65.9659L157.013 67.4929L146.687 75.0236L145.499 73.3948L153.396 67.6354L141.522 67.9412L140.366 66.356Z" fill="#BFBFBF"/>
            //-     <path d="M155.203 87.0779L161.074 88.9372C161.101 88.064 161.378 87.3197 161.903 86.7044C162.428 86.0891 163.127 85.6712 164 85.4509C164.71 85.2718 165.386 85.2804 166.03 85.4768C166.677 85.6848 167.241 86.0561 167.722 86.5905C168.215 87.1219 168.565 87.7949 168.77 88.6093L169.903 93.0946L157.511 96.223L157.018 94.2683L161.852 93.0478L161.447 91.4422C161.429 91.3724 161.41 91.2967 161.39 91.2153C161.372 91.1455 161.354 91.0757 161.337 91.0059L155.771 89.3293L155.203 87.0779ZM162.959 90.2992L163.545 92.6204L167.716 91.5673L167.143 89.2985C167.032 88.8564 166.849 88.4755 166.595 88.156C166.353 87.8335 166.054 87.6057 165.699 87.4727C165.346 87.3512 164.949 87.3463 164.507 87.458C164.065 87.5696 163.71 87.7581 163.443 88.0236C163.176 88.2891 162.997 88.6125 162.908 88.994C162.822 89.3871 162.839 89.8222 162.959 90.2992Z" fill="#BFBFBF"/>
            //- </svg>
            img(src="img/quality.png", alt="Гарантия качества")