section.projects
    .projects__container
        .projects__slider.project-slider
            .project-slider__item.project-slider__item_active
                .project-slider__body
                    .project-slider__text.project-slider__text_active
                        p.project-slider__subtitle.subtitle
                            | Наши Проекты
                        p.project-slider__title.title
                            | Транспортная инфраструктура
                        p.project-slider__description.description
                            | Высокий уровень развития транспортной инфраструктуры напрямую влияет
                            | как на удовлетворение социальных и производственных потребностей в
                            | стране
                    .project-slider__text
                        p.project-slider__subtitle.subtitle
                            | Наши Проекты
                        p.project-slider__title.title
                            | Здравоохранение
                        p.project-slider__description.description
                            | Высокий уровень развития транспортной инфраструктуры напрямую влияет
                            | как на удовлетворение социальных и производственных потребностей в
                            | стране
                    .project-slider__text
                        p.project-slider__subtitle.subtitle
                            | Наши Проекты
                        p.project-slider__title.title
                            | Развитие Территории
                        p.project-slider__description.description
                            | Высокий уровень развития транспортной инфраструктуры напрямую влияет
                            | как на удовлетворение социальных и производственных потребностей в
                            | стране
                .project-slider__images
                    .project-slider__image
                        img(src="img/slider-project-1.png", alt="Слайд 1")
                        div Транспортная инфраструктура
                    .project-slider__image.project-slider__image_active
                        img(src="img/slider-project-2.png", alt="Слайд 2")
                        div Здравоохранение
                    .project-slider__image
                        img(src="img/slider-project-1.png", alt="Слайд 3")
                        div Развитие Территории

            .project-slider__bottom
                .project-slider__buttons
                    a.project-slider__btn-prev
                    a.project-slider__btn-next
                a(href="#").project-slider__allproj
                    | 45 проектов
                .project-slider__counter
                    span.project-slider__counter-min 01.
                    .project-slider__counter-bar
                    span.project-slider__counter-max 05.